@import '../../variables.scss';

:host {
    .container {
        .title {
            font-size: 20pt;
            margin-bottom: 10px;
        }
        
        .text {
            padding: 0 10px;
        }

        .footer {
            .button-container {
                margin-left: 10px;
            }
        }

        .error {
            color: red;
        }
    }
}