<div class="container">
  <div class="title">Edit Camera Assignment</div>
  <div fxLayout="row">
    <div class="text" fxLayout="column" fxLayoutAlign="center center">
      Associate camera {{getCamera(data.assignmentToEdit.CameraId)?.DeviceNo}} to
    </div>
    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Select Vehicle</mat-label>
        <mat-select [(value)]="selectedVehicle">
          <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.Id">
            {{vehicle.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="footer" fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
      <div class="error" *ngIf="errorMessage"> Error: {{ errorMessage }}</div>
    </div>
    <div class="button-container" fxLayout="column"><button mat-raised-button (click)="cancel()">Cancel</button></div>
    <div class="button-container" fxLayout="column"><button mat-raised-button color="primary" (click)="save()">Save</button></div>
  </div>
</div>