@import '../../variables.scss';

:host {
    .title {
        margin-top: 20px;
        font-size: 20pt;
    }

    .loading {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 100;
    }

    .container {
        padding: 30px;
        margin: 20px;
        border-radius: 6px;
        background-color: $light-gray;

        .new-assignment {
            margin-left: 20px;
        }

        .icon {
            color: $gray;
            cursor: pointer;
            margin-right: 5px;
            font-size: 16pt;
        }

        table {
            width: 100%;
            margin-top: 20px;
        }

        td {
            width: 33%;
        }
    }
}