@import '../../variables.scss';

:host {
    .loading {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 100;
    }
    
    .container {
        .title {
            font-size: 20pt;
            margin-bottom: 10px;
        }
        
        .text {
            padding: 0 10px;
        }

        .footer {
            .button-container {
                margin-left: 10px;
            }
        }

        .error {
            color: red;
        }
    }
}